<div class="text-center mt-5">
  <h1>Selamat Datang di PerpusUMY</h1>
  <p class="lead">Aplikasi manajemen perpustakaan sederhana.</p>
  <a href="/buku-list" class="btn btn-primary btn-lg mt-3">Lihat Daftar Buku</a>
</div>
